.main4{
    width: 800px;
    height: 600px;
    background: #b3bec9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.radius20{
    width: 700px;
    height: 250px;
    border: 3px solid #4880e8;
    border-radius: 20px;
    margin-top: 10px;
}
.smallblock1{
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midiumblock{
    width: 80px;
    height: 10px;
    background: #14249b;
    border-radius: 20px;
    margin-right: 10px;
}
.littleblock{
    width: 30px;
    height: 10px;
    background: #14249b;
    border-radius: 20px;
    margin-left: 10px;
}
.square{
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
.square1{
    width: 140px;
    height: 140px;
    background: #14249b;
    border-radius: 20px;
    margin-right: 10px;
}
.smallblock4{
    width: 700px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number4{
    margin-left: 50px;
}
.rectangle{
    width: 800px;
    height: 300px;
    background: #14249b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    box-sizing: border-box;
}
.mainwheel{
    width: 200px;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainwheel1{
    width: 200px;
    height: 270px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.wheel{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fcfcfc;
    margin-top: 20px;
}
.noname{
    width: 180px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.colors{
    background: #fcfcfc;
}