.main5 {
    width: 1000px;
    height: 2500px;
    background: #4880e8;
}

.first1 {
    width: 1000px;
    height: 50px;
    background: #7aa5f3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.first1\.1 {
    width: 50px;
    height: 10px;
    background: #040557;
    border-radius: 20px;
    padding-right: 10px;
    margin: 10px;
}

.second {
    width: 1000px;
    height: 150px;
    background: silver;
    display: flex;
    justify-content: space-around;
    padding: 40px;
    box-sizing: border-box;
}

.second1 {
    width: 170px;
    height: 70px;
    background: #040557;
    border-radius: 20px;
}

.second2 {
    width: 300px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.first2\.1 {
    width: 50px;
    height: 10px;
    background: #040557;
    border-radius: 20px;
    padding-right: 10px;
    margin: 10px;
}

.thirty {
    width: 1000px;
    height: 450px;
    background: #7aa5f3;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.thirty1 {
    width: 600px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.thirty3\.1 {
    width: 400px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.thirty3\.1\.1 {
    width: 100px;
    height: 20px;
    background: #031149;
    margin: 20px;
    border-radius: 20px;
}

.thirty3\.1\.2 {
    width: 140px;
    height: 20px;
    background: #031149;
    margin: 20px;
    border-radius: 20px;
}

.thirty3\.2 {
    width: 250px;
    height: 50px;
    background: #053985;
    display: flex;
    border-radius: 20px;
    margin-bottom: 150px;
}
.main4{
    width: 1000px;
    height: 800px;
    background: #b3bec9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.radius20{
    width: 997px;
    height: 400px;
    border: 3px solid #1c1d25;
    border-radius: 20px;
}
.smallblock1{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midiumblock{
    width: 80px;
    height: 10px;
    background: #14249b;
    border-radius: 20px;
    margin-right: 10px;
}
.littleblock{
    width: 30px;
    height: 10px;
    background: #14249b;
    border-radius: 20px;
    margin-left: 10px;
}
.square{
    width: 1000px;
    height: 250px;
    display: flex;
    justify-content: center;
}
.square1{
    width: 140px;
    height: 140px;
    background: #14249b;
    border-radius: 20px;
    margin-right: 50px;
}
.smallblock4{
    width: 1000px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number4{
    margin-left: 50px;
}
.rectangle{
    width: 1000px;
    height: 300px;
    background: #14249b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 15px;
    box-sizing: border-box;
}
.mainwheel{
    width: 200px;
    height: 270px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.mainwheel1{
    width: 200px;
    height: 270px;
    border: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.wheel{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #fcfcfc;
    margin-top: 20px;
}
.noname{
    width: 180px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.colors{
    background: #fcfcfc;
}
.forty {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background: #9da3a8;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
}
.forty1{
    width: 800px;
    height: 450px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
}
.forty4\.1{
    width: 250px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
}
.forty4\.1\.1{
    width: 240px;
    height: 100px;
    background: #040557;
    border-radius: 20px;
}
.forty4\.1\.2{
    text-align: justify;
}
.five{
    width: 1000px;
    height: 450px;
    background: #d3d9dc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five1{
    width: 350px;
    height: 300px;
    background: #b65656;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.five1.back{
    background: #d20000;
}
.five5\.1{
    width: 300px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}